fastapi==0.103.1
uvicorn[standard]==0.23.2
gunicorn
SQLAlchemy==2.0.21
passlib[bcrypt,argon2]
python-jose[cryptography]==3.3.0
psycopg
psycopg2-binary
asyncpg
python-dotenv
kafka-python
kafka_utils
structlog
fastapi-sso
httpx
python-multipart
pydantic[email]
pydantic
aiohttp
authlib
starlette
python-dotenv
structlog
